@font-face {
  font-family: "Rubik";
  src:  url('style/fonts/Rubik-Regular.ttf');
  src:  url('style/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:  url('style/fonts/Rubik-Medium.ttf');
  src:  url('style/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


.react-container {
  position: relative;
}

.hader-tittle-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  background: url("style/img/pattern-bg-desktop.png") no-repeat;
  background-size:cover;
}